<div class='well'>
  <%= form_for @user do |f| %>
      <%= render 'posts/error', instance: @user %>
      <div class='group-control'>
        <%= f.label 'Name' %>
        <%= f.text_field :username %>
        <%= f.label 'Password' %>
        <%= f.text_field :password, type: :password %>
      </div>
      <%= f.submit @user.new_record? ? 'Register' : 'Update Profile', class: 'btn btn-success btn-primary' %>
  <% end %>
</div>

