<%= render 'shared/content_title', title: 'Register' %>
<%= form_for @user do |f| %>
    <div class='group-control'>
      <%= f.label 'Name' %>
      <%= f.text_field :username %>
      <%= f.label 'Password' %>
      <%= f.text_field :password %>
    </div>
    <%= f.submit 'Register', class: 'btn btn-primary' %>
<% end %>
