<%= render 'shared/content_title', title: 'Create new category' %>
<%= render 'posts/error', instance: @category  %>
<div class='well'>
  <%= form_for @category do |f| %>
      <div class='control-group'>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <%= f.submit 'Create New Category', class: 'btn btn-primary' %>
  <% end %>
</div>