<%= render 'shared/content_title', title: 'Create new category' %>
<!--<% if @category.errors.any? %>-->
    <!--<div class='row'>-->
      <!--<div class='alert alert-error span8'>-->
        <!--<h5>Errors:</h5>-->
        <!--<ul>-->
          <!--<% @category.errors.full_messages.each do |e| %>-->
              <!--<li><%= e %></li>-->
          <!--<% end %>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
<!--<% end %>-->
<%= render 'posts/error', instance: @category  %>
<div class='well'>
  <%= form_for @category do |f| %>
      <div class='control-group'>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <%= f.submit 'Create New Category', class: 'btn btn-primary' %>
  <% end %>
</div>